<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jia.jason.jgametest" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".JApplication"
        android:allowBackup="true"
        android:icon="@mipmap/airship_icon"
        android:label="@string/app_name"
        android:theme="@style/pub_fw_Theme_App" >

        <receiver android:name=".broadcast.BootCompleteReciever">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.jia.jason.jgametest.MY_BROADCAST"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.BaseActivity">
        </activity>

        <activity android:name=".activity.FlyBallActivity">
        </activity>

        <activity android:name=".activity.FingerPathActivity">
        </activity>

        <activity android:name=".activity.LunarLanderActivity">
        </activity>

        <activity android:name=".activity.GBallActivity">
        </activity>

        <activity android:name=".activity.GravitySensorActivity">
        </activity>

        <activity android:name=".activity.JLunarLanderActivity">
        </activity>

        <activity android:name=".activity.ListViewsActivity">
        </activity>

        <activity android:name=".activity.ListViewTestActivity">
        </activity>

        <activity android:name=".activity.ListViewAndOtherActivity">
        </activity>

        <activity android:name=".activity.ListAddSetActivity">
        </activity>

        <activity android:name=".activity.ReachFilesActivity">
        </activity>

        <activity android:name=".activity.OtaTestActivity">
        </activity>

        <activity android:name=".activity.AutoCompleteTextActivity">
        </activity>

        <activity android:name=".activity.ToggleButtonActivity">
        </activity>

        <activity android:name=".activity.ListAdapterActivity">
        </activity>

        <activity android:name=".activity.GridViewActivity">
        </activity>

        <activity android:name=".activity.DrawableTestActivity">
        </activity>

        <activity android:name=".activity.DrawableStateActivity">
        </activity>

        <activity android:name=".activity.DrawableState2Activity">
        </activity>

        <activity android:name=".activity.ProgressBarActivity">
        </activity>

        <activity android:name=".activity.FragmentTestActivity">
        </activity>

        <activity android:name=".activity.ViewFlipperActivity">
        </activity>

        <activity android:name=".activity.DrawableAnimationActivity">
        </activity>

        <activity android:name=".activity.FrescoImageViewActivity">
        </activity>

        <activity android:name=".activity.LifeCycleActivity">
        </activity>

        <activity android:name=".activity.ConstraintActivity">
        </activity>

        <activity android:name=".activity.SIActivity1">
        </activity>

        <activity android:name=".activity.SIActivity2"
            android:launchMode="singleInstance">
        </activity>

        <activity android:name=".activity.SIActivity3">
        </activity>

        <activity android:name=".activity.BroadcastTestActivity">
        </activity>

        <activity android:name=".activity.FileTestActivity">
        </activity>

        <activity android:name=".activity.SPTestActivity">
        </activity>

        <activity android:name=".activity.SQLiteTestActivity">
        </activity>

        <activity android:name=".activity.ContentProviderTestActivity">
        </activity>

        <activity android:name=".activity.NotificationTestActivity">
        </activity>

        <activity android:name=".activity.ImageCaptureTestActivity">
        </activity>

        <activity android:name=".activity.HandlerTestActivity">
        </activity>

        <activity android:name=".activity.ViewTouchTestActivity">
        </activity>

        <activity android:name=".activity.ShapeLayerTestActivity">
        </activity>

        <activity android:name=".activity.ViewHeightTestActivity">
        </activity>
    </application>

</manifest>
